@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

/* body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
} */
#footercard{
    border: 0px;
    margin-bottom: 0px;
    margin-top: 10%;
    width: 100%;
    background: linear-gradient(to bottom, #fff1de 80%,#463d3d 100%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li {
    padding: 4px;
    color:grey;
}

ul>li:hover {
    color: orange;
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 2% 7%;
    /* color: grey; */
}

.social>i {
    padding: 2%;
    font-size: 25px;
    color: #463d3d;
}

.social>i:hover {
    color: orange;
    cursor: pointer
}

.copy {
    padding: 4px;
    color: black
}
.policy>div {
    padding: 4px;
    color: black
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: #463d3d;
}

.divider {
    border-top: 2px solid;
    color: black;
}